<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/style.css' />
  <link rel='stylesheet' href='/bootstrap.min.css'>
</head>

<body>
  <header class="header">
    <nav class="nav">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Deconnexion</button>
    </nav>
  </header>